.login-page {
    background-image: url('src/assets/loginbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-container {
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 3px #1AE1C4, 0 0 15px #1AE1C4;
    width: 700px;
    height: 300px;
    display: flex;
    color: #1A3D5B;
}

.login-container-left{
    border-right: 2px solid #1A3D5B;
    border-radius: 2px;
}

.login-container-left img{
    padding:0px;
    padding-top: 100px;
    margin:10px;
}

.login-container-right{
    padding:30px;
    padding-top: 30px;
}

.login-container-right h3{
    padding-top: 10px;
    font-weight:500;
    padding-bottom: 30px;
}

.login-container-right input{
    background-color: #E8F0FE;
    color: white;
    font-size: 17px;
    border-radius: 15px;
    border-width: 0px;
    width:150px;
    height:20px;
    padding: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.login-container-right input[type='text'] {
    width:100px;
}
.login-container-right input:focus {
    box-shadow: 0 0 3px #7B61FF, 0 0 15px #7B61FF;
    border-width: 0px;
}

.login-page-button{
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #1AE1C4;
    border-radius: 999px;
    color: #2B2E4A;
    border-width: 0px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.forgot-password-link{
    font-weight: bold;
    text-decoration: none;
    color: #1AE1C4;
    font-size: 15px;
}

.forgot-password-link:hover{
    text-decoration: underline;
    color: #2B2E4A;
}
  
/* home css */
.home-page {
    background-image: url('src/assets/loginbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.home-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7B61FF;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2B2E4A;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.home-header a {
    text-decoration: none;
    color: #2B2E4A;
    margin-right: auto; 
    padding-right: 20px; 
}

.home-header h1 {
    margin-left: auto; 
}

.home-container {
    margin-top: 60px; 
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 3px #1AE1C4, 0 0 15px #1AE1C4;
    width: 70%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    display: flex;
    color: #1A3D5B;
}

.home-container-left {
    border-right: 2px solid #1A3D5B;
    border-radius: 2px;
}

.home-container-left img {
    padding: 0px;
    padding-top: 100px;
    margin: 10px;
}

.home-container-right {
    padding: 30px;
    padding-top: 30px;
}

.home-container-right h3 {
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 30px;
}

.home-container-right input {
    background-color: #E8F0FE;
    color: white;
    font-size: 17px;
    border-radius: 15px;
    border-width: 0px;
    width: 150px;
    height: 20px;
    padding: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.home-container-right input[type='text'] {
    width: 100px;
}

.home-container-right input:focus {
    box-shadow: 0 0 3px #7B61FF, 0 0 15px #7B61FF;
    border-width: 0px;
}

.home-page-button {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: #1AE1C4;
    border-radius: 999px;
    color: #2B2E4A;
    border-width: 0px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

